<ion-content>
  <ion-grid *ngIf="detailsdata != undefined">
    <!-- whole-container -->
    <ion-row class="whole-container">
      <ion-col class="whole-container-col1">

        <!-- upper container -->
        <ion-row class="upper-container">
          <ion-col class="upper-container-maincol">
            <!-- first row -->
            <ion-row class="first-row">
              <ion-col size="3" class="back-btn"> <img (click)="goBack()" src="../../../assets/images/backbtn.png"
                  alt=""></ion-col>
              <ion-col size="6" class="first-row-col2"></ion-col>
              <ion-col size="3" class="polygon-btn"><img src="../../../assets/images/poylgonbtn.png"
                  (click)="openModal()"></ion-col>
            </ion-row>
            <!-- second row -->
            <ion-row class="second-row">
              <ion-col size="2"></ion-col>
              <ion-col size="8" class="dice-logo"><img style="max-height: 100%;"
                  src="https://media.wax.io/{{detailsdata.img}}" alt=""></ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <!-- lower container -->
        <ion-row class="lower-container">
          <ion-col class="upper-container-maincol">
            <ion-row>
              <ion-col size="4" class="details-align"> <label>Name</label></ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="7" class="details-label-name"><label>{{detailsdata.name}}</label></ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col size="4" class="details-align"> <label>Series</label></ion-col>
              <ion-col size="1"></ion-col>
              <ion-col *ngIf="detailsdata.series==undefined" size="7" class="details-label"><label>--</label></ion-col>
              <ion-col size="7" class="details-label"><label>{{detailsdata.series}}</label></ion-col>
            </ion-row>
            <hr style="color:white;">
            <ion-row>
              <ion-col size="4" class="details-align"> <label>Rarities</label></ion-col>
              <ion-col size="1"></ion-col>
              <ion-col *ngIf="detailsdata.rarities==undefined" size="7" class="details-label"><label>--</label>
              </ion-col>
              <ion-col size="7" class="details-label"><label>{{detailsdata.rarities}}</label></ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col size="4" class="details-align"> <label>Styles</label></ion-col>
              <ion-col size="1"></ion-col>
              <ion-col *ngIf="detailsdata.styles==undefined" size="7" class="details-label"><label>--</label></ion-col>
              <ion-col size="7" class="details-label"><label>{{detailsdata.styles}}</label></ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col size="4" class="details-align"> <label>Collection</label></ion-col>
              <ion-col size="1"></ion-col>
              <ion-col *ngIf="detailsdata.collection  ==undefined" size="7" class="details-label"><label>--</label>
              </ion-col>
              <ion-col size="7" class="details-label"><label>{{detailsdata.collection}}</label></ion-col>
            </ion-row>
            <hr style="height: 10%;">
            <ion-row>
              <ion-col size="2"> </ion-col>
              <ion-col size="8"> <img (click)="presentModal()" src="../../../assets/images/rolldice.png"></ion-col>
              <ion-col size="2"></ion-col>

            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>